<div th:fragment="footer-pagination">
	<div class="slogen">
		<ul>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
		</ul>
	</div>
	<div class="modeList">
		<div class="mode">
			<h2>配送方式</h2>
			<ul>
				<li><a href="">上门自提</a></li>
				<li><a href="">211限时达</a></li>
				<li><a href="">配送服务查询</a></li>
				<li><a href="">配送费收取标准</a></li>
				<li><a href="">海外配送</a></li>
			</ul>
		</div>
		<div class="mode">
			<h2>支付方式</h2>
			<ul>
				<li><a href="">货到付款</a></li>
				<li><a href="">在线支付</a></li>
				<li><a href="">分期付款</a></li>
				<li><a href="">邮局汇款</a></li>
				<li><a href="">公司转账</a></li>
			</ul>
		</div>
		<div class="mode">
			<h2>售后服务</h2>
			<ul>
				<li><a href="">售后政策</a></li>
				<li><a href="">价格保护</a></li>
				<li><a href="">退款说明</a></li>
				<li><a href="">返修/退换货</a></li>
				<li><a href="">取消订单</a></li>
			</ul>
		</div>
	</div>
	<div class="QRcode">
		<div>
			<img th:attr="data-src=@{/img/QRcode/1.png}" alt="">
		</div>
		<div>
			<img th:attr="data-src=@{/img/QRcode/1.png}" alt="">
		</div>
	</div>
</div>